header {
    background-color: black;
}


.cabecalho{
    text-align: center;
}

.intro{
    text-align: center;
    background-color: rgb(147, 178, 236);
    width: auto;
    height: auto;
}

.cont_intro {
    width: 700px;
    padding-left: 300px;
}

.descri{
    text-align: center;
}
.subtitulo{
    text-align: center;
}
.artista-card{
    text-align: center;
}

.rodape{
    text-align: center;
}

footer{
    text-align: center;
}

.tabela{
    width: 50%;         /* Ou outra largura menor que 100% */
    margin: 0 auto;    /* Centraliza a tabela */
    border-collapse: collapse; /* Opcional: melhora a aparência */
}